<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Shopping Cart</title>
    <style type="text/css">
        .style1
        {
            width: 100px;
        }
    </style>
    <script src="scripts/angular.min.js" type="text/javascript"></script>
    <script src="scripts/common/filters.js" type="text/javascript"></script>
    <script src="scripts/shoppingCart/directives.js" type="text/javascript"></script>
    <script src="scripts/shoppingCart/serviceFactory.js" type="text/javascript"></script>
    <script src="scripts/shoppingCart/controller_v4.js" type="text/javascript"></script>
    <script src="scripts/shoppingCart/main_v6.js" type="text/javascript"></script>
</head>
<body ng-app="cartApp" ng-controller="cartController">
    <form>
        <h1>Shopping Cart</h1>
        <table style="width:100%;" id="tblSubmissionForm" ng-hide="checkedOut">
            <tr>
                <td class="style1">
                    Item</td>
                <td>
                    <select id="ddlItem" ng-model="selectedItem">
                        <option ng-repeat="item in items">{{ item }}</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="style1">
                    Cart</td>
                <td>
                    <cart items="cart" />
                </td>
            </tr>
            <tr>
                <td class="style1">&nbsp;</td>
                <td>
                    <input type="button" id="btnAdd" value="Add" ng-click="add()" />
                    <input type="button" id="btnRemove" value="Remove" ng-click="remove()" />
                    <input type="button" id="btnCheckout" value="Checkout" ng-click="checkout()" />
                </td>
            </tr>
        </table>

        <table style="width:100%;" id="tblSubmission" ng-show="checkedOut" >
            <tr>
                <td class="style1">
                    Receipt </td>
                <td>
                    <div ng-repeat="item in cart track by $index">{{ item }} {{ prices[item] }}</div>
                    <div>Subtotal: {{ result.SubTotal }} </div>
                    <div ng-repeat="offer in result.Offers">{{ offer.Name }} -{{ offer.Amount }}</div>
                    <div ng-show="result.Offers == 0">(No offers available)</div>
                    <div>Total: {{ result.Total }}</div>
                <!--
                    <receipt cart="cart" prices="prices" result="result" />
                    -->
                </td>
            </tr>
        </table>
    </form>
</body>
</html>
